body{
    background-color: crimson;
    color: gold;
    background-image: url(/ASSETS/dragao.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.noto-serif-tc {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: x - large;
}

.mao-tse-tung {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: x - large;
}

nav img{
    justify-content: center;
    display: grid;
    height: 45vh;
    width: 35vh;
}
nav{
    padding: 10px;
}

nav button{
    color: red;
    width: 100px;
    height: 50px;
    background-color: darkred;
    border: solid 2px gold;
    font-weight: bold;
}

nav a{
    color: gold;
    font-family: "Noto Serif TC", serif;
    text-decoration: none;
}

main{
    padding: 10px;
    margin: 10px, 10px, 10px, 10px;
}

.form{
    font-family: "Noto Serif TC", serif;
    font-weight: 100;
    font-style: x-large;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0px;
}
