body {
    background-color: #0f1010;
    color: beige;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    margin-left: 35px;
  }
  
  .social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  #copy{
    margin-top: 45%;
    position: fixed;
    color: beige;
<<<<<<< HEAD
  }

  .header{
    margin: 0;
    height: 10vh;
=======
>>>>>>> dd2f8948812d40d5f5290b35e158b8b2f246a109
  }