*{
    margin: 0;
    padding: 0;   
    
}

.nav-container{
    background-color: black;
    padding: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nav-img img{
    width: 5vw;
    height: auto;
    display: flex;
    justify-content: start;
    margin-right: 1600px;
}


.nav-bar a {
    display: flex;
    justify-items: center;
    text-decoration: none;
    gap: 10px;
    color: white;
    background-color: black;
    border-color: black;
    text-decoration: solid;
    font-size: larger;
}

.nav-bar button {
    border: none;
    
}   

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px ;
    list-style: none;
}

.boxs{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
}

.box{
    width: 250px;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 20px; 
    font-size: 300;
    display: flex;
    justify-content: space-evenly;
}