* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /* flex-wrap determina se o container flexivel encolhera seus elementos, tambem é possivel determinar de que maneira isso ocorre ou não */
    gap: 10px;

    /* content utilizamos para quando ocorre wrap ou temos mais de uma linha ou coluna. */
    /*  gap  é um espaço que só existe entre itens de um mesmo contexto*/
    /* ja o items, utilizamos quando não ocorre wrap ou temos apenas uma linha */
}

.box {
    background-color: rebeccapurple;
    width: 250px;
    height: 250px;
    border: 10px solid red;
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 300;
    display: flex;
    color: white;
    flex-basis: 300px;

    /* flex-basis determina o tamanho minimo inicial dos elementos flexiveis */
}

#box4 {
    flex-grow: 5;
    flex-shrink: 2;

    /* ele fica com frio e encolhe */
    /* flex-grow determina o espaço ocupado por determinado item, o tamanho padrão do flex-grow é 0, mas se voce declara um flex-grow de 2, esse elemento ocupara o dobro de espaço flexivel */
}

#seis{
    flex: 1 2 300px;
}